html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    background:#f8f8f8;
    color: black;
}

* {
  box-sizing: border-box;
}

p{
  line-height: 1.5;
}